include ../../../node_modules/bemto.pug/bemto.pug

include _header-top
include _products_menu
include _breadcrumbs-menu
include _services
include _documents
include _result
include ../data/_menu
include ../data/_products_menu
include ../data/_services_menu
include ../data/_documents
include ./../mixins/_mixins_products_menu