mixin b_breadcrumbs-menu()
    +b.breadcrumbs.container-full
        .container
            +e('ul').menu
                each item in menu
                    +e('li').item
                        +e.A(href=item.link).link #{item.name}