mixin b_documents()
    .container-full
        .container
            +b.DIV.back-buttom
                +e.A.link(href="/index-2.html") Назад
            +b.DIV.steps крок <strong>3</strong> із 3
            +b.H1.container-title Перевірте наявність документів

    +b.documents.container-full
        .container
            +e.menu
                each document in documents
                    +e('li').item
                        +e.A(href=document.link).link #{document.name}

    +b.submit.container-full
        .container
            +b.A.submit-btn(href="#") Записатись