mixin b_result()
    +b.result.container-full
        .container
            +e.H1.title Готово!
            +e.P.text Орієнтований час очікування&nbsp;
                +e.STRONG.time 42 сек.
            +e.P.text Ваш номер в черзі:
            +e.personal-number 256