-
    documents = [
    {
    "name": "Документ, що посвідчує особу"
    },
    {
    "name": "Водійське посвідчення"
    },
    {
    "name": "Інформаційна картка"
    },
    {
    "name": "Зразок заяви для здійснення вилучення"
    }
    ]