-
    menu = [
    {
    "name": "Послуги",
    "link": "/index.html"
    },
    {
    "name": "Підприємницька діяльність",
    "link": "/index-2.html"
    },
    {
    "name": "Видача ліцензії на експорт товарів",
    "link": "/index-3.html"
    },
    {
    "name": "Готово",
    "link": "/index-4.html"
    }
    ]