-
	product_Menu = [
		{
			"productImgSrc": "./img/object1.svg",
			"productTitle": "Автотранспорт "
		},
		{
			"productImgSrc": "./img/object6.svg",
			"productTitle": "Будівництво, архітектура, землекористування"
		},
		{
			"productImgSrc": "./img/object3.svg",
			"productTitle": "Громадянство"
		},
		{
			"productImgSrc": "./img/object2.svg",
			"productTitle": "Захист прав дитини"
		},
		{
			"productImgSrc": "./img/object7.svg",
			"productTitle": "Реєстрація місця проживання/перебування"
		},
		{
			"productImgSrc": "./img/object5.svg",
			"productTitle": "Підприємницька діяльність"
		},
		{
			"productImgSrc": "./img/object4.svg",
			"productTitle": "Санітарне та епідемічне  благополуччя,  ветеринарна медицина"
		},
		{
			"productImgSrc": "./img/object0.svg",
			"productTitle": "Комунальне господарство"
		}
	]