-
    services_menu = [{
    "name": "Видача ліцензії на імпорт товарів",
    "link": "/index-3.html"
    },
    {
    "name": "Державна реєстрація створення  відокремленого  підрозділу юриди",
    "link": "/index-3.html"
    },
    {
    "name": "Видача разової (індивідуальної) ліцензії",
    "link": "/index-3.html"
    },
    {
    "name": "Державна реєстрація договорів (контрактів)  про спільну інвести",
    "link": "/index-3.html"
    },
    {
    "name": "Анулювання державної реєстрації іноземних  інвестицій",
    "link": "/index-3.html"
    },
    {
    "name": "Оформлення паспорту прив'язки сезонного  майданчика для харчува",
    "link": "/index-3.html"
    },
    {
    "name": "Для державної реєстрації зміни складу  комісії з припинення",
    "link": "/index-3.html"
    },
    {
    "name": "Державна реєстрація створення  юридичної особи",
    "link": "/index-3.html"
    },
    {
    "name": "Анулювання державної реєстрації іноземних  інвестицій",
    "link": "/index-3.html"
    },
    {
    "name": "Перереєстрація іноземних інвестицій",
    "link": "/index-3.html"
    }
    ]