mixin products_menu(prefix, product_Menu)
    each item, index in product_Menu
        +e.A.product-wrap.sec4(href="/index-2.html")
            +e.IMG.img(src=item.productImgSrc)
            +e.SPAN.title #{item.productTitle}