extends ./../layouts/_layout
block title
    title Готово!
block css
    style.
        .box {
            height: 100px;
            width: 100px;
            background-color: #00AA00;
        }
block header
block content
    #barba-wrapper
        .barba-container
            button#btn-1 to
            button#btn-2 to+
            button#btn-3 from
            button#btn-4 next
            button#btn-5 tween timeLines
            button#btn-6 tween timeLines
            button#btn-7 tween Play
            button#btn-8 tween Pause
            button#btn-9 tween Reverse
            button#btn-10 tween timeScale
            button#btn-12 Item
            .box test

            ul
              li Item 1
              li Item 2
              li Item 3
              li Item 4
              li Item 5
              li Item 6
              li Item 7
              li Item 8