.product
	flex-flow: row wrap;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
	justify-content: center;
	box-sizing: border-box;

	&__product-wrap
		background-color: #ffffff;
		border: 1px solid transparent;
		border-radius: 5px;
		box-shadow: 0 3px 3px 0 rgba(0,0,0,0.05);
		display: block;
		font-size: 1rem;
		margin: 1%
		margin-bottom: 2rem;
		padding: 4rem 1rem 1rem;
		position: relative;
		text-align: center;
		min-height: 21rem;
		text-decoration: none

		align-items: stretch;
		flex-basis: 27.5rem;
		-webkit-box-flex: initial;
		flex: auto;
		flex-grow: 0;
		box-sizing: border-box;

	&__img
		display inline-block
		text-decoration: none
		height auto
		width auto

	&__title
		padding 1.5em .2rem 0
		display: block
		text-decoration: none !important
		font-size 1.25rem
		font-weight 400;
		color: #383e49

