style(media='screen', type='text/css').
    body {
        background-color: #ebeef6;
        color: #383e49;
        font-size: 62.5%;
        font-family: arial,tahoma,sans-serif;
        margin: 0;
        padding: 0;
    }
    *, .container, .container-full, .overflox-x, .hidden {
        box-sizing: border-box;
    }
    .container-full {
        display: inline-block;
        overflow: hidden;
        position: relative;
        vertical-align: top;
        width: 100%;
    }
    .container {
        margin: 0 auto;
        position: relative;
    }
    .container:after, .container:before {
        clear: both;
        content: "";
        display: table;
        line-height: 0;
        width: 100%;
    }
    .header {
        background-color: #383e49;
        height: 8em;
    }

    .result {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        overflow: auto;
        padding-top: 8em;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
    }
    .result__title {
        background-color: #b0b4bd;
        border: none;
        border-radius: 25px;
        color: #b0b4bd;
        font-size: 2em;
        margin: auto;
        margin-bottom: .5em;
        max-width: 30rem;
        text-align: center;
    }
    .result__text {
        background-color: #d9dde6;
        border: none;
        border-radius: 25px;
        color: #d9dde6;
        font-size: 1.25em;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    @media (min-width: 992px) {
        .result__title {
            font-size: 6em;
        }

        .result__text {
            font-size: 3.2em;
        }

        .sec4 {
            width: 23%;
        }
    }